<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ganguo.qq">

    <application>
        <!--QQ Sdk config -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${QQ_APP_ID}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--QQ Sdk config -->
    </application>
    <!--  适配Android11包可见度  -->
    <queries>
        <!-- QQ SDK -->
        <package android:name="com.tencent.mobileqq" />
    </queries>
</manifest>
