<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ganguo.single">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity
            android:name=".ImageChooserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Transparent" />
    </application>

</manifest>
