<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ganguo.picker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application>
        <activity android:name=".ui.PickerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.preview.NormalPreviewActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
